@page "/createconstraint"
@inject IJSRuntime JS
@inject NavigationManager nav
<link rel="stylesheet" href="/styles.css" />
@if(ctx.activeDatabase == null)
{
    <div class="err">No database selected</div>
}
else if (ctx.activeTable == null)
{
    <div class="err">No table selected</div>
}
else
{
    <div class="formWrapper">
        <InputRadioGroup @bind-Value="ct">
            @foreach (var type in Enum.GetValues<Choices.ConstraintTypes>())
            {
                <div class="formElementWrapper">
                    <div class="formLabel">@type</div>
                    <div class="formElement"><InputRadio Value="type"></InputRadio></div>
                </div>
            }
        </InputRadioGroup>
    </div>
    @if (ct == Choices.ConstraintTypes.ForeignKey && ctx.activeDatabase.tables.Count < 2)
    {
        <div class="err">At least two tables are required for FOREIGN KEY constraint.</div>
    }
    else
    {
        
    
    <div class="formWrapper" style="width: 70%;">
        @if (ct != Choices.ConstraintTypes.PrimaryKey)
        {
        <div class="formElementWrapper">
            <div class="formLabel">@("Name: ")</div>
            <div class="formElement"><InputText @bind-Value="name" /></div>
        </div>
        }

        @if (ct != Choices.ConstraintTypes.ForeignKey)
        {
        for (int i = 0; i < ctx.activeTable.columns.Count; i++)
        {
            int i2 = i;
            <div class="formElementWrapper">
                <div class="formLabel">@(ctx.activeTable.columns[i2].name)</div>
                <div class="formElement"><InputCheckbox @bind-Value="arrayColumn[i2]" /></div>
            </div>
        }
        }
        else
        {
            if (ctx.activeDatabase.tables.Count < 2)
            {
                <div class="err">At least two tables are required for FOREIGN KEY constraint.</div>
            }
            else
            {
                <table style="margin-top: 1em; margin-left: 0.5em;">
                    <thead>
                    <td style="background-color: #ccffcc;">@(ctx.activeTable.name)</td>
                    <td>
                        <select @bind="table" class="upperSelect" style="width: 100%;">
                                @foreach (string s in Choices.GetTableNames(ctx))
                                {
                                    if (s != ctx.activeTable.name)
                                    {
                                        if (s != ctx.activeTable.name)
                                        {
                                        <option>@s</option>
                                        }
                                    }
                                }

                        </select>
                    </td>
                    </thead>
                    <tbody>
                        @{
                            remoteTable = ctx.activeDatabase.GetTableByName(table);
                            if (arrayRemoteColumn == null || (arrayRemoteColumn.Length != remoteTable.columns.Count))
                            {
                                arrayRemoteColumn = new bool[remoteTable.columns.Count];
                            }
                            max = (ctx.activeTable.columns.Count > remoteTable.columns.Count) ? ctx.activeTable.columns.Count : remoteTable.columns.Count;
                        }
                        @for (int i = 0; i < max; i++)
                        {
                            int counter = i;
                            <tr>
                                <td>
                                    @if (i < ctx.activeTable.columns.Count)
                                    {
                                        <div class="formElementWrapper">
                                            <div class="formLabel">@(ctx.activeTable.columns[counter].name)</div>
                                            <div class="formElement"><InputCheckbox @bind-Value="arrayColumn[counter]" /></div>
                                        </div>
                                    }
                                    else
                                    {
                                        @("")
                                    }
                                </td>
                                <td>
                                    @if (i < remoteTable.columns.Count)
                                    {
                                        <div class="formElementWrapper">
                                            <div class="formLabel">@(remoteTable.columns[counter].name)</div>
                                            <div class="formElement"><InputCheckbox @bind-Value="arrayRemoteColumn[counter]" /></div>
                                        </div>
                                    }
                                    else
                                    {
                                        @("")
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

            }

        }
        <button @onclick="CreateConstraint" class="acceptButton">Create constraint</button>

    </div>

    }

}

@code {
    public Choices.ConstraintTypes ct { get; set; }
    public string name { get; set; } = "";
    public bool[] arrayColumn { get; set; }
    public Table localTable { get; set; }

    public bool[] arrayRemoteColumn { get; set; }
    public Table remoteTable { get; set; }
    public int max { get; set; }

    public string table { get; set; } /*= (ctx.activeDatabase != null && ctx.activeDatabase.tables.Count > 0) ? Choices.GetTableNames()[0] : "";*/

    public Column localColumn { get; set; } 
    public Column remoteColumn { get; set; }

    public void CreateConstraint()
    {
        string errorMessage;
        if (ct != Choices.ConstraintTypes.ForeignKey)
        {
            if (!Methods.CreateSimpleConstraint(ct, name, arrayColumn, out errorMessage, ctx))
            {
                JS.InvokeVoidAsync("alert", errorMessage);
            }
            else
            {
                nav.NavigateTo("/columns/" + Array.IndexOf(ctx.activeDatabase.tables.ToArray(), ctx.activeTable).ToString());
            }
        }
        else
        {
            if (!Methods.CreateFKConstraint(name, arrayColumn, remoteTable, arrayRemoteColumn, out errorMessage, ctx))
            {
                JS.InvokeVoidAsync("alert", errorMessage);
            }
            else
            {
                nav.NavigateTo("/columns/" + Array.IndexOf(ctx.activeDatabase.tables.ToArray(), ctx.activeTable).ToString());
            }
        }
    }
    protected override async Task OnInitializedAsync()
    {
        if (ctx.activeTable == null)
        {
            return;
        }
        arrayColumn = new bool[ctx.activeTable.columns.Count];
        Console.WriteLine(ctx.activeDatabase.tables[0] != ctx.activeTable);
        if (ctx.activeDatabase.tables.Count == 1)
        {
            table = "";
        }
        else if (ctx.activeDatabase.tables[0] != ctx.activeTable)
        {
            table = Choices.GetTableNames(ctx)[0];
        }
        else
        {
            table = Choices.GetTableNames(ctx)[1];
        }

        localColumn = ctx.GetColumn();
        StateHasChanged();

    }

}
